// ====================================================
// Table of Contents
// ====================================================
// Scaffolding
// Utilities
// Typography
// Header
// Navigation
// Logo
// Footer
// Forms
// Buttons
// Alerts
// Section
// My Post Detail
// Posts
// Article
// Media Quiries
// Deprecating


// ====================================================
// Scaffolding
// ====================================================
body {
    padding-top: 120px;
}
// ====================================================
// Utilities
// ====================================================
.center-block {
    float: none;
}
// ====================================================
// Typography
// ====================================================
ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  text-align: left;
}

li {
  background: #fff;
  height: auto;
  position: relative;
  padding: 15px 30px;
  margin-bottom: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

li:hover {
  background: #fcfcfc;
  /* background: #61a1bc; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

li.total {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    color: #61a1bc;
    display: table;
    position: relative;
    width: 100%;
}

li.total .label {
    border-radius: 0;
    color: #61a1bc;
    display: block;
    font-size: 100%;
    font-weight: bold;
    line-height: unset;
    padding: 0.2em 0.6em 0.3em;
    text-align: right;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}

li .phrase {
    position: relative;
}

li .points {
    float: right;
    margin-right: 10px;
    position: relative;
}

li .label {
    position: relative;
}

li.highlight {
  background: #61a1bc;
}

li .delete {
  display: none;
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

li .delete:after {
  content: '✖';
  color: #e35885;
}

li:hover .delete {
  display: block;
}

li .delete:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #c5c5c5;
}
a {
    color: #b3b3b3;
    text-decoration: none;
}
a:hover, a:focus {
    color: #d9d9d9;
    text-decoration: underline;
}
// Custom Core Styles
ul li i {
    margin-right: 40px;
}

// ====================================================
// Header
// ====================================================
.header {
  border-bottom: 1px solid #e5e5e5;
}

// ====================================================
// Navigation
// ====================================================
.navbar-default {
    background-color: #61a1bc;
    border: none;
    border-radius: 0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-nav > li  {
  margin: 0;
  padding: 0;
}
.navbar-nav > li > a {
    padding: 30px 45px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #d9d9d9;
}
// ====================================================
// Logo
// ====================================================
.logo {
    display: table;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: 70px;
}
.logo img {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

// ====================================================
// Footer
// ====================================================
footer.site-footer {
    border-top: 1px solid #a6a6a6;
    color: #a6a6a6;
    font-size: 12px;
    line-height: 1em;
    margin: 50px auto 10px;
    padding-top: 10px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

footer a {
  color: inherit;
}
// ====================================================
// Forms
// ====================================================
/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}
form {
  margin: 0 0 20px 0;
  padding: 0;
}

input[type="text"], 
input[type="number"], 
input.form-control[type="text"], 
input.form-control[type="number"],
input.form-control[type="password"] {
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
    border: 1px dashed #c5c5c5;
    box-sizing: border-box;
    color: #797b74;
    margin: 0 5px;
    outline: medium none;
    width: 100%;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 1px dashed #61a1bc;
  outline: 0;
  transition: border-color 0.3s ease-in;
}
// ====================================================
// Buttons
// ====================================================
.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .btn {
    border: medium none;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.27rem;
    line-height: 1.33333;
    padding: 20px 15px;
    text-transform: uppercase;
}
button.sort {
  background: #d9d9d9 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 4px;
  color: #5e6163;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding: 5px 15px;
  position: relative;
  text-transform: uppercase;
}

button.sort:hover {
  opacity: 0.75;
}

button.add {
  border: 0;
  height: 55px;
  vertical-align: top;
  width: 75px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .15em;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  background: #61a1bc;
  color: #5e6163;
  background: #D9D9D9;
}

button.add:hover {
  opacity: 0.75;
}

button.delete {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

button {
  outline: none;
  font-size: 100%;
}
// ====================================================
// Alerts
// ====================================================
/* Phoenix flash messages */
.alert:empty { display: none; }
// ====================================================
// Section
// ====================================================
section.home-section {
    min-height: 74vh;
}
// ====================================================
// My Post Detail
// ====================================================
my-post-detail {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eaeaea; // Hides the empty div into background color. Todo: Make a variable so don't have to change in two places if changing the background color.
  display: inline-block;
  margin: 20px 0;
  padding: 0;
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  text-align: left;
}
my-post-detail {

}
// ====================================================
// Posts
// ====================================================
ul.posts {
    padding-left: 0;
}
// ====================================================
// Posts
// ====================================================
article {
    border-top: 1px solid #a6a6a6;
    color: #a6a6a6;
    font-size: 12px;
    line-height: 1em;
    margin: 50px auto 10px;
    padding-top: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
// ====================================================
// Deprecating
// ====================================================
html {
  box-sizing: border-box;
  color: #222;
  font: 12pt Arial;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
}



/****************************************
  Elements
*****************************************/

body {
  margin: 3rem;
}

a {
  color: #2297D1;
  text-decoration: none;
  cursor: pointer;
}

* > h1 {
  margin-top: 0;
}


/****************************************
  Components
*****************************************/

/**
 * Input
 */

input[type="text"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 0.7em;
  padding: 0.5em 1em;
}

input[type="text"]:focus {
  outline: none;
  border-color: #2297D1;
}


/**
 * Button
 */

button {
  border: none;
  border-radius: 3px;
  background-color: #2297D1;
  font-size: 0.7em;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #fff;
}

button.delete {
  background-color: #B83B3B;
}


/**
 * Search Form
 */

form.search {
  margin-top: 1em;
}

form.search button{
  margin-left: 0.5em;
}


/**
 * Data List
 */

.data-list-item {
  padding: 0.6em;
  display: flex;
  border-bottom: 1px solid #bbb;
}

.data-list-item .details {
  flex: 1;
}


/**
 * User Profile
 */

.user-profile {
  display: flex;
}

.user-profile img {
  display: block;
  width: 100px;
  height: 100px;
}

.user-profile .details {
  flex: 1;
  margin-left: 1em;
}

.user-profile h1 {
  margin: 0;
}

.user-profile .repos {
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.user-profile .repos li {
  float: left;
  width: 250px;
  margin-right: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/****************************************
  Layout
*****************************************/

/**
 * Main Layout
 */

.app {
  display: flex;
  min-width: 800px;
}

.primary-aside {
  width: 12rem;
}

.primary-aside ul {
  list-style: none;
  margin: 0;
}

.primary-aside a {
  display: block;
  padding: 0.6em;
}

.primary-aside a.active {
  color: #fff;
  background-color: #2297D1;
}

main {
  flex: 1;
  margin-left: 2em;
}

/**
 * Search Layout
 */

.search-header, .search-footer {
  font-weight: bold;
}

.search-results {
  margin: 1em 0;
}


// ====================================================
// Media Quiries
// ====================================================

